 body {
   
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-image: url(./foto1.jpg) ;
    background-repeat: space;
    background-size: cover;
  }

  h1 {
    text-align: center;
  }
  article{

    display: flex;
   justify-content: space-around;
   width: 80vw;
   margin: auto;


  }
  .contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 50%;
  }
  .foto {
    border-radius: 5%;
  max-width: 100%;

  height: auto;
  
  }
  .photo{
    width: 50%;
  }
  .button {
    background-color: rgb(212, 176, 75); 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    border: 2px solid rgb(121, 119, 113);
    
  }

  .button1 {
    background-color: rgb(212, 176, 75); 
    color: white; 
    border: 2px solid rgb(121, 119, 113);
  }

  .button0:hover {
    background-color: rgb(241, 226, 16);
    color: white;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }
@media screen and (max-width:991px){

  .button{
    font-size: 1rem;
  }
}
  
  
  /* #list_section {
    text-align: center;
  }
  
  h1 {
    color: white;
    margin: 0px auto;
    padding: 20px;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    list-style-type: none;
    width: 20%;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  p {
    background-color: #fff;
    color: #666;
    padding: 10px;
    display: inline-block;
    margin: 20px auto 20px auto;
    width: 80%;
    border-radius: 5px;
    text-align: center;
  }
  
  .item {
    background-color: #fff;
    color: #000;
  }
  
  input[type='text'] {
    font-size: 12px;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  input[type='submit'] {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    border: none;
    padding: 5px;
  }
  
  #newItemButton {
    display: none;
  }
  
  #itemField {
    margin-top: 60px;
    width: 10%;
  }
    background-color: aqua;
} */